<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Dico - MLET</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mot:search' %}">Rechercher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mot:add' %}">Ajouter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A propos !</a>
        </li>
      </ul>
      <form class="d-flex" action="{% url 'mot:search' %}">
        <input class="form-control me-sm-2" type="search" placeholder="Rechercher un mot dans le dictionnaire" name="mot_cherche" size="40">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
</nav>